#footer{
    height: 40px;
    width: 100%;
    background-color: var(--third-color);
    text-align: center;
    font-size: 12px;
    font-weight: 600;
    color: white;
    font-family: sans-serif;
    padding-top: 15px;
}